<div class="row">
    <div class="col-6"><strong>Odohral</strong></div>
    <div class="col-6">
        {{$ctrl.player.getPlayedMatchesCount()}}
        {{$ctrl.player.getPlayedMatchesCount() | filterMatchesText}}
    </div>

    <div class="col-6"><strong>Vyhral</strong></div>
    <div class="col-6">
        {{$ctrl.player.getWinsCount()}}
        {{$ctrl.player.getWinsCount() | filterMatchesText}}
    </div>

    <div class="col-6"><strong>Prehral</strong></div>
    <div class="col-6">
        {{$ctrl.player.getLosesCount()}}
        {{$ctrl.player.getLosesCount() | filterMatchesText}}
    </div>

    <div class="col-6"><strong>Remízoval</strong></div>
    <div class="col-6">
        {{$ctrl.player.getTiesCount()}}
        {{$ctrl.player.getTiesCount() | filterMatchesText}}
    </div>

    <div class="col-6"><strong>Oddychuje</strong></div>
    <div class="col-6">
        {{$ctrl.player.getPause()}}
        {{$ctrl.player.getPause() | filterMatchesText}}
    </div>
</div>


<table class="table table-sm mt-3">
    <thead>
        <th>Domáci</th>
        <th>Skóre</th>
        <th>Skóre</th>
        <th>Hosť</th>
    </thead>
    <tr ng-repeat="match in $ctrl.player.matches | filterPlayedMatches">
        <td>{{match.getHomePlayer().name}}</td>
        <td class="text-center" ng-class="{'text-success': match.getWinner() === match.getAwayPlayer() && match.getAwayPlayer() === $ctrl.player}">{{match.getAwayScore()}}</td>
        <td class="text-center" ng-class="{'text-success': match.getWinner() === match.getHomePlayer() && match.getHomePlayer() === $ctrl.player}">{{match.getHomeScore()}}</td>
        <td>{{match.getAwayPlayer().name}}</td>
    </tr>
</table>


<div class="row mt-3">
    <div class="col-sm-12">
        <a ui-sref="main" class="btn btn-primary float-right">Zavrieť</a>
    </div>
</div>
