<div class="modal-backdrop fade show"></div>
<div class="modal fade show">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{$ctrl.modalParams.title}}</h5>
                <a ui-sref="main">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <modal-player-text ng-if="$ctrl.modalParams.component == 'modalPlayerText'" player-name="$ctrl.modalParams.title"></modal-player-text>
                <p>{{$ctrl.modalParams.text}}</p>
            </div>
            <div class="modal-footer">
                <a ui-sref="main" class="btn btn-secondary">Zavrieť</a>
            </div>
        </div>
    </div>
</div>