<h2>Nasledujúce zápasy</h2>
<table class="table">
    <thead class="thead-default">
    <tr>
        <th class="text-center">Domáci</th>
        <th class="text-center">Hosť</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="match in matches | orderNextMatches" ng-class="{'table-danger': match.isPlayed()}">
        <td class="text-left">
            <player-detail player="match.getHomePlayer()"></player-detail>
            <small>{{match.getHomePlayer().getPause()}}</small>
        </td>
        <td class="text-left">
            <player-detail player="match.getAwayPlayer()"></player-detail>
            <small>{{match.getAwayPlayer().getPause()}}</small>
        </td>
        <td class="text-center"><div class="btn btn-primary btn-sm">Zapísať</div></td>
    </tr>
    </tbody>
</table>